*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
	height:100%;
	width:100%;
}
.navbar{
  margin-bottom: 0px;
}
.wrapper{
  background-image: url(./image/header-bg.png);
	 background-repeat:repeat-x;
	 padding:5px 150px;
}

.navbar{
	 font-size:20px;
	 font-weight:500px;
}
.banner{
  position:relative;
}
.banner-img{
	position: relative;
	width:100%;
}
.landing{
	position:absolute;
	top:25%;
	left:150px;
	width:45%;
}
.watch-video{
  background-color: rgba(255, 255, 255, 0.329);
  padding: 6px 7px;
  border: solid 1px white;
  color: white;
}
.landing h1{
    font-size:70px;
    color:#ffffff;
}
.learn-more{
  position: absolute;
  bottom: 41px;
  left: 50%;
  color: white;
  transform: translateX(-50%);
}
.padding {
	text-align:center;
	vertical-align:center;
	background-color:lightgray;
}
.citidirect{
  background-color: #d3d3d380;
	padding:50px 0px;
	text-align:center;
	font-family:arial;
}
.citidirect h2{
  font-weight: 700;
  color: black;
}
.features{
  margin: 50px 0px;
}
.gallery {
    border: 2px solid aqua;
    float: left;
    width: 330px;
    height: 330px;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    background-color: lightgray;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 70px;
}
.gallery button{
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px 42px;
  background-color: teal;
  border-radius: 20px;
  border: none;
  color: white;

}
.gallery p{
  width: 267px;
}
.gallery:hover {
  border: 2px solid red;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}
.desc a{
  text-decoration: none;
}


.f-s-s{
  position: relative;
  height: 440px;
}
.f-s-s img{
  position: absolute;
  top: 94px;
  left: 2%;
  z-index: 2;

}
.f-s-s .right-cont{
  position: absolute;
  width: 80%;
  height: 350px;
  background-color: #d3d3d380;
  top: 70px;
  right: 0px;
}
.f-s-s .right-cont h2{
      width: 487px;
      position: absolute;
      top: 20px;
      right: 30%;
      font-weight: 800;
}
.f-s-s .right-cont a{

      width: 487px;
      position: absolute;
      top: 200px;
      right: 30%;
      font-weight: 800;
      text-decoration: none;
}
.f-s-s .right-cont p{
  width: 487px;
  position: absolute;
  top: 100px;
  right: 30%;
}

.button{
  text-align:center;
}

.system{
	margin-top:100px;
}
.learn{
  background-color: #d3d3d380;
  padding: 18px 29PX;
	text-align:left;
	font-size:25px;
}
.end{
     text-align:center;
     margin-bottom: 30px;
}
.footer{
  background-color: black;
}
.details {
font-size: 12px;
padding:5px;
}
ul{
  list-style-type: none;
}
ul li img{
  height:20px;
  width:60px;
}



/* responsive */
/* ipad view */



@media (max-width: 1024px) {
  .banner .landing{
    top: 20%!important;
  }
  .banner h1{
    font-size: 52px!important;
  }
  
.f-s-s .right-cont h2{
  left: 36%;
}
.f-s-s .right-cont a{
  left: 36%;
  top: 230px;
}
.f-s-s .right-cont p{
  left: 36%;
  width: 62%;
}
}
@media (max-width: 768px){
  .banner .landing{
    top: 16%!important;
  }
  .banner h1{
    font-size: 40px!important;
  }
}
@media (max-width: 375px){
  .banner .landing{
    top: 6%!important;
    left: 21px!important;
  }
  .banner h1{
    font-size: 20px!important;
  }
  .watch-video {
    background-color: rgba(255, 255, 255, 0.329);
    padding: 2px 2px;
    border: solid 1px white;
    color: white;
    font-size: 10px;
  }
  .learn-more {
    bottom: -9px;
  }
  .f-s-s {
    position: relative;
    height: 770px!important;
}
.f-s-s .right-cont {
  position: absolute;
  width: 80%;
  height: 370px;
  background-color: #d3d3d380;
  top: 410px;
  right: 0px;
}

.f-s-s .right-cont h2{
  left: 0;
}
.f-s-s .right-cont a{
  left: 0;
  top: 340px;
}
.f-s-s .right-cont p{
  left: 0;
  width: 62%;
}
}